# Set the default behavior, in case people don't have core.autocrlf set. 
* text eol=lf 
 
# Explicitly declare text files you want to always be normalized and converted 
# to native line endings on checkout. 
*.def text eol=lf 
*.cls text eol=lf 
 
.gitignore     export-ignore 
.gitattributes export-ignore 
